# PyCharm project files
.idea/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env

# System files
.DS_Store
Thumbs.db

# Игровой прогресс
scr/game/progress.json
scr/game/settings.json
dist/
D-korpus.spec
build/
settings.json